
{% comment %}ly_global_begin{% endcomment %}{% include 'ly-global' %}{% comment %}ly_global_end{% endcomment %}
<div class="page page-content">
<div class="container">
  <div class="four columns"></div>
  <div class="page eight columns">
    {% comment %}ly_code_replace_for_[ page.content ]_begin{% endcomment %}{% include 'ly-content' with page %}{{ ly_translation }}{% comment %}ly_code_replace_end{% endcomment %}
  </div>
</div>
</div>

<div class="container static-page-promo">
  <div class="six columns text-right">
    <img src="{% comment %}ly_asset_replace_for_[ 'progurt-image.png' | asset_url ]_begin{% endcomment %}{% assign ly_asset = 'progurt-image.png' %}{% include 'ly-asset' with ly_asset %}{{ ly_translation  }}{% comment %}ly_asset_replace_end{% endcomment %}" />
  </div>
  <div class="four columns text-center">
    <h2 class="text-center"><ly-as-2504750>Probiotic Sachets</ly-as-2504750></h2>
    <p><ly-as-2504751>Starting at $99 RRP</ly-as-2504751></p>
    <p><a href="http://progurt.com/collections/probiotic-sachets"><ly-as-2504752>Compare Probiotics ></ly-as-2504752></a></p>
  </div>
</div>

<div class="container static-page-pre-footer">
  <div class="four columns text-center">
    <img src="{% comment %}ly_asset_replace_for_[ 'shop-icon.png' | asset_url ]_begin{% endcomment %}{% assign ly_asset = 'shop-icon.png' %}{% include 'ly-asset' with ly_asset %}{{ ly_translation  }}{% comment %}ly_asset_replace_end{% endcomment %}" />
    <h3 class="text-center"><ly-as-2504753>Shop Online.</ly-as-2504753></h3>
    <p><ly-as-2504754>Pick your GutSmart Kit of gut supplements and have it shipped to your door - free.</ly-as-2504754></p>
    <p><a href="http://progurt.com/collections/gut-care"><ly-as-2504755>Buy Now ></ly-as-2504755></a></p>
  </div>
  <div class="four columns text-center">
    <img src="{% comment %}ly_asset_replace_for_[ 'reseller-icon.png' | asset_url ]_begin{% endcomment %}{% assign ly_asset = 'reseller-icon.png' %}{% include 'ly-asset' with ly_asset %}{{ ly_translation  }}{% comment %}ly_asset_replace_end{% endcomment %}" />
    <h3 class="text-center"><ly-as-2504756>Visit a Reseller.</ly-as-2504756></h3>
    <p><ly-as-2504757>Try a product at one of our Resellers and feel the difference for yourself.</ly-as-2504757></p>
    <p><a href="http://www.progurt.com/pages/contact-us"><ly-as-2504758>Find a Store ></ly-as-2504758></a></p>
  </div>
  <div class="four columns text-center">
    <img src="{% comment %}ly_asset_replace_for_[ 'call-icon.png' | asset_url ]_begin{% endcomment %}{% assign ly_asset = 'call-icon.png' %}{% include 'ly-asset' with ly_asset %}{{ ly_translation  }}{% comment %}ly_asset_replace_end{% endcomment %}" />
    <h3 class="text-center"><ly-as-2504759>Call Progurt.</ly-as-2504759></h3>
    <p><ly-as-2504760>Get answers about Progurt products before you buy. Talk with a gut care specialist.</ly-as-2504760></p>
    <p><a href="tel:+61299222188">+612 9922 2188</a></p>
  </div>
  <div class="four columns text-center">
    <img src="{% comment %}ly_asset_replace_for_[ 'ask-icon.png' | asset_url ]_begin{% endcomment %}{% assign ly_asset = 'ask-icon.png' %}{% include 'ly-asset' with ly_asset %}{{ ly_translation  }}{% comment %}ly_asset_replace_end{% endcomment %}" />
    <h3 class="text-center"><ly-as-2504761>Ask a Naturopath</ly-as-2504761></h3>
    <p><ly-as-2504762>Have a gut issue you want answers about. Talk with a qualified Naturopath.</ly-as-2504762></p>
    <p><a href="http://www.progurt.com/pages/naturopath"><ly-as-2504763>Talk Now ></ly-as-2504763></a></p>
  </div>
</div>